body{
    margin :0px;
}
button{
    padding: 10px;
    background-color: aquamarine;
}
input{
   
  
    padding: 10px;
}
h1{
    margin-top: 23%;
    
}
img{

    height: 10%;
    width: 15%;
}
div{
    text-align: center;
}